.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  
} 

.pokeBloc {
  width: 80%;
  height: 80%;
  margin: 15%; 
  border: solid ;
  border-radius: 40%;
  text-align: center;
}

.pokeImage {
  max-width: 70%;
}